// Screen resolutions
$sm-screen: 768px;
$md-screen: 992px;
$lg-screen: 1200px;

// Palette colors
$primary: #5e5e5e;
$secondary: #e7e3ee;
$third: #c42200;
$fourth: #5c0100;
$fifth: #cea000;

// font-sizes
$extra-small: 0.6rem;
$small: 0.85rem;
$normal: 1rem;
$big: 1.3rem;
$large: 1.5rem;

// colors
$main-background: #f9f9f9; 