$input-size: 2.375rem;

.search-input {
    &--input {
        & input {
            width: 100%;
            height: $input-size;
            overflow: hidden;
            
            &:focus {
                outline: none;
                box-shadow: 0 0 0 0.2rem rgba(94, 94, 94, 0.25);
            }
        }
    }

    &--input-nav {
        & input:focus {
            border: 1px solid transparent;
        }
    }

    &__suggestions {
        width: 100%;
        &--highlighted {
            background-color: lightgray;
        }
    }
}