@import '../../Styles/Common.scss';

.search-Result {

    &__list {
        & a {
            text-decoration: none;
        }
    }

    @media (min-width: $sm-screen) {
        &__list {
            padding-top: 2rem;
            margin: auto;
            width: 80%;
        }
    }
}